.reviews {
  padding: 48px 24px 40px;
  color: #000;
  position: relative;
}

.title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
}

.slider {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  height: 100%;
  min-height: 300px; /* зафіксована мін.висота */
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 12px;
}
.info {
  text-align: left;
}
.text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1.5;
}

.stars {
  margin-bottom: 12px;
  color: #ccc;
}

.star {
  color: #ccc;
  margin-right: 4px;
}

.starActive {
  color: #1d4ed8; /* синя активна зірочка */
  margin-right: 4px;
}

.authorBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.author {
  font-weight: 500;
  font-size: 16px;
}

.navRight {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 20px;
}

.arrow {
  font-size: 20px;
  padding: 4px 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: #000;
  transition: color 0.3s ease;
}

.active {
  color: #1d4ed8;
}

.disabled {
  color: #ccc;
  cursor: default;
}

.dotsWrapper {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dotActive {
  background-color: #1d4ed8;
}
