.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-right: 48px;
  }
}

.container_fluid {
  width: 100%;
  padding-left: 33px;
  padding-right: 33px;
}

@media (min-width: 768px) {
  .container_fluid {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1024px) {
  .container_fluid {
    padding-left: 30px;
    padding-right: 48px;
  }
}

.container_max {
  composes: container;
  max-width: 1440px;
}
