.accountPage {
  display: flex;
  padding: 2rem;
}

.sidebar {
  width: 250px;
  margin-right: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}
.title {
  margin-top: 24px;
  margin-bottom: 18px;
}
.text {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
.formSection {
  flex-grow: 1;
}

.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.saveBtn {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  color: black;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
.deleteBtn {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  color: red;
  border: none;
  cursor: pointer;
}
.texts {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  color: red;
}
