.catalog {
  padding: 48px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 32px;
}

.line {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.icon {
    position: right;;
}
.text_second,
.text_third {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.text_third {
    position: right;
}

.heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  flex-grow: 1;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  padding: 12px;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
}

.artist {
  font-size: 0.95rem;
  color: #555;
}

.price {
  font-weight: bold;
  margin-top: 8px;
  color: #000;
}

.pagination {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.paginationText {
  font-size: 14px;
  color: #000;
}

.paginationButtons {
  display: flex;
  gap: 24px;
}

.pageButton {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.pageButton:hover {
  color: #555;
}

.pageButton .arrow {
  font-size: 16px;
  color: #000;
}

.next {
  color: #3F36FF;
}

.next .arrow {
  color: #3F36FF;
}



.pageLink {
  padding: 8px 14px;
  background: #ddd;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.pageLink:hover {
  background: #bbb;
}

.active {
  background: #000;
  color: #fff;
}
